@import url("../fontawesome/css/all.min.css");

/* sizing and alignment */
body {
    margin: 0;
}

#logo {
    padding: 1ex;
}

nav {
    display: inline-block;
    padding: 0 1ex;
    max-width: 27em;
}

.container {
    text-align: center;
}

.container nav {
    text-align: left;
}

/* styling */
header {
    /* behind the white-on-transparent logo */
    background: #00206D; /* #00206D = FSinfo dark */
}

a {
    text-decoration: none;
}

nav a {
    color: #00206D; /* #00206D = FSinfo dark */
}

nav ul li {
    margin: 1.75ex 0ex;
}

nav ul li ul {
    padding-left: 2.5ex;
    list-style-type: none; /* custom bullet defined below */
}

nav ul li ul li::before {
    color: #00206D; /* #00206D = FSinfo dark */
    content: "\2023";
    font-style: normal;
    display: inline-block;
    width: 1em;
    margin-left: -2.5ex;
}

nav ul li ul li {
    margin: 0.25ex 0ex;
    font-size: 90%;
    font-style: italic;
}

nav ul li .label {
    font-weight: bold;
}

nav ul li .description {
    font-size: 90%;
}

nav ul li .sublist-heading {
    font-weight: bolder;
}

#maintenance {
    display: block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

#maintenance.on {
    color: red;
    border: 2px solid red;
}
