@import url("../fontawesome/css/all.min.css");

/* sizing and alignment */
body {
    margin: 0;
}

#logo {
    padding: 1ex;
}

nav {
    display: inline-block;
    padding: 0 1ex;
    max-width: 450px;
}

@media (min-width: 900px) {
    nav {
        max-width: 50%;
    }
}

.container {
    text-align: center;
}

.container nav {
    text-align: left;
}

/* styling */
header {
    /* behind the white-on-transparent logo */
    background: #00206D; /* #00206D = FSinfo dark */
}

a {
    text-decoration: none;
}

nav a {
    color: #00206D; /* #00206D = FSinfo dark */
}

nav ul li {
    margin: 1.75ex 0ex;
}

nav ul li .label {
    font-weight: bold;
}

nav ul li .description {
    font-size: 90%;
}
